.box{
    width: 100px;
    height: 100px;
    font-size: 2rem;
    background: rgb(113, 170, 189);
    margin: 200px auto;
    
    transform-origin: top left ;   /* Its origin becomes top left*/
    transform-origin: 0% 100%; /* X Y */      /* Its origin becomes this*/
    transition: transform 1s ease-in-out;
}
.box:hover{
    /*---------- rotate skew scale translate ---------- */

    transform: rotate(360deg);

    /* transform: scaleX(3) ; */
    /* transform: scaleY(3) ; */
    /* transform: scale(3) ; */
    /* transform: scale(2,1.5) ; */

    /* transform: translateX(400px) ; */
    /* transform: translateY(400px) ; */
    /* transform: translate(20px, 20px) ; */

    /* transform: skewX(40deg) ; */
    /* transform: skewY(40deg) ; */
    /* transform: skew(40deg,60deg) ; */





}