h1{
    /* border: 1px; */
    background-color: #cdcdcd;
    text-align: center;
    margin: 0px auto;
    width: 1040px;
    /* because of padding ^^*/
    padding: 10px 0px;
    /* margin-bottom: 20px; */
}
.box1,.box2{
    border: 2px solid black;
    width: 1000px;
    margin: 0px auto;
    padding: 0px 20px;
}
.box1{
    margin-bottom: 30px;
}
/* .box2{
    margin-top: 10px;
} */
div h3{
    /* text-transform: lowercase; */
    text-transform: uppercase;
}