@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    padding: 0px 40px;
    /* margin: 0px 40px; */
}
h2{
    color: #222;
    border-bottom: 1px solid #444;
}
a{
    color: #444;
    text-decoration: none;
}
nav{
    background-color: #cecece;
}
nav ul{
    padding-left: 0px;
    text-align: center;
}
nav li{
    display: inline-block;
    list-style: none;
    margin: 15px 20px;
    border-bottom: 1px solid #444;
    font-size: 20px;
    text-transform: uppercase;
}
section{
    margin-top: 50px;
}