/* p::first-letter{
    font-size: 40px;
    color: red;
} */
/* p::first-line{
    font-size: 60px;
} */
p::selection{
    background-color: black;
    color: yellow;
}
.para1::before{
    content: "Hello";
}
.para1::after{
    content:"hi there";
    color: blue;
}