@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
header{
    background-color: rgb(205, 219, 213);
}
main{
    background-color: rgb(205, 219, 213);
}
.heading{
    color: brown;
}
span{
    background-color: aqua;
}